.form
  .new-header
    .new-header__title
      = link_to image_tag(src="logo.png", size: "140x40"), root_path
    .new-header__progress
      %ol
        %li.new-header__progress__text--active{ id: "first" }
          会員情報
          .new-header__progress__round--red
        %li.new-header__progress__text
          お届け先住所入力
          .new-header__progress__round     
        %li.new-header__progress__text
          支払い方法
          .new-header__progress__round    
        %li.new-header__progress__text{ id: "end" }
          完了
          .new-header__progress__round
  .main
    .main__box
      .main__title
        会員情報入力
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .box
          .field
            .field__label
              = f.label :ニックネーム
              %br/
            .field__box
              = f.text_field :nickname
          .field
            .field__label
              = f.label :メールアドレス
              %br/
            .field__box
              = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            .field__label
              = f.label :パスワード
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
            .field__box
              = f.password_field :password, autocomplete: "new-password"
          .field
            .field__label
              = f.label :パスワード確認用
              %br/
            .field__box
              = f.password_field :password_confirmation, autocomplete: "new-password"
            .action
            = f.submit "Next", class: 'btn'
        = render "devise/shared/links"
