.form
  .new-header
    .new-header__title
      = link_to image_tag(src="logo.png", size: "140x40"), root_path
  .main
    .main__box
      .main__title
        ユーザー情報登録
      = form_for @profile do |f| 
        = render "devise/shared/error_messages", resource: @profile
        .box
          .field
            .field__label
              = f.label :first_name
              %br/
            .field__box
              = f.text_field :first_name
          .field
            .field__label
              = f.label :last_name
              %br/
            .field__box
              = f.text_field :last_name
          .field
            .field__label
              = f.label :kana_first_name
              %br/
            .field__box
              = f.text_field :kana_first_name
          .field
            .field__label
              = f.label :kana_last_name
              %br/
            .field__box
              = f.text_field :kana_last_name
          .field
            .field__label
              = f.label :birthday
              %br/
            .field__box
              = f.date_field :birthday
          .actions
            = f.submit "Next", class: 'btn'
        = render "devise/shared/links"
