= render "users/put-up"

.card
  = render "users/header"
  .card__main
    .card__main__left
      = link_to "トップページ", root_path, class: "link"
      = link_to "マイページ", user_path(current_user.id), class: "link"
      = link_to "お気に入り一覧",  item_likes_path(current_user.id), method: :get, class: "link select"
      = link_to "プロフィール", edit_profile_path(current_user.id), class: "link"
      = link_to "送付先住所情報", edit_destination_path(current_user.id), class: "link"
      = link_to "ニックネーム/メール", edit_user_path(current_user.id), class: "link"
      = link_to "クレジットカード情報", cards_path, class: "link"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
    .card__main__right
      .title
        お気に入り一覧
      - if @like.present?
        .likes-main
          - @like.each do |like|
            = link_to item_path(like.item.id) do
              .like
                .image
                  = image_tag like.item.item_images[0].image_url.url,height:"80px",width:"80px"
                .content
                  .name 
                    = like.item.name
                  .price
                  %span ¥
                  = like.item.price
      - else
        .notlike
          .content お気に入りがありません

  = render "users/footer"