= render "put-up"

.my-page
  = render "header"

  .my-page__main
    .my-page__main__left
      = link_to "トップページ", root_path, class: "link"
      = link_to "マイページ", user_path(current_user.id), class: "link"
      = link_to "購入商品", bought_items_user_path(current_user.id), class: "link select"
      = link_to "お気に入り一覧",  item_likes_path(current_user.id), method: :get, class: "link"
      = link_to "プロフィール", edit_profile_path(current_user.id), class: "link"
      = link_to "送付先住所情報", edit_destination_path(current_user.id), class: "link"
      = link_to "ニックネーム/メール", edit_user_path(current_user.id), class: "link"
      = link_to "クレジットカード情報", cards_path, class: "link"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
    .my-page__main__center
      .title
        購入商品一覧
      .items
        - if @images.length == 0
          .empty
            購入した商品はありません
        - else
          .item
            - @images.each do |image|
              .area
                .image
                  = link_to image_tag(image[1][0].image_url.url, width: "200", height: '200', class: "img"), item_path(image[0][:id])
                .name
                  = image[0][:name]

  = render "footer"
