= render "put-up"

.my-page
  = render "header"
  
  .my-page__main
    .my-page__main__left
      = link_to "トップページ", root_path, class: "link"
      = link_to "マイページ", user_path(current_user.id), class: "link"
      = link_to "プロフィール", root_path, class: "link"
      = link_to "送付先住所情報", root_path, class: "link"
      = link_to "メール/パスワード", edit_user_path(current_user.id), class: "link select"
      = link_to "クレジットカード情報", cards_path, class: "link"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
    .my-page__main__center
      .title
        ログイン情報
      .form
        Edit
          
  = render "footer"
  