= render "put-up"

.my-page
  = render "header"

  .my-page__main
    .my-page__main__left
      = link_to "トップページ", root_path, class: "link"
      = link_to "マイページ", user_path(current_user.id), class: "link select"
      = link_to "プロフィール", root_path, class: "link"
      = link_to "送付先住所情報", root_path, class: "link"
      = link_to "メール/パスワード", edit_user_path(current_user.id), class: "link"
      = link_to "クレジットカード情報", cards_path, class: "link"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
    .my-page__main__center
      .title
        MY商品
      .items
        - if @images.length == 0
          .empty
            出品されていません
            %br
              商品を出品してみましょう!
        - else
          - count = 0
          .item
            - @images.each do |image|
              .area
                .image
                  = link_to image_tag(image[1][0].image_url.url, width: "200", height: '200', class: "img"), item_path(image[0][:id])
                .name
                  = image[0][:name]
                - if image[0][:buyer_id] != nil
                  .sold-out
                    SOUL'd OUT
                - else
                  .button
                    .delete{id: "#{image[0][:id]}"}
                      削除
              - count = count + 1

  = render "footer"