.header
  .header__top
    .header__top__title
      = link_to image_tag(src="logo.png", size: "140x40"), root_path
    .header__top__search
      = form_with url: root_path, method: 'GET', html: {class: "header__top__search__form"}, local: true do |f|
        = f.text_field :text, class: 'text', placeholder: 'キーワードから探す'
        %button{type: "submit", class:'button'}
          .icon
            = image_tag 'icon-search.png', class: 'icon__image', width: '20px', height: '20px'
  .header__bottom
    .header__bottom__left
      .header__bottom__left__category
        カテゴリー
      .header__bottom__left__brand
        ブランド
    .header__bottom__right
      - if user_signed_in? 
        .header__bottom__right__mypage
          = link_to "マイページ", users_show_path(current_user.id), class: "link"
        .header__bottom__right__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
      - else
        .header__bottom__right__login
          = link_to "ログイン", new_user_session_path, class: "link"
        .header__bottom__right__create
          = link_to "新規会員登録", new_user_registration_path, class: "link"

