%a{href: '/items/new', class: "display"}
  .display__text
    出品する
  .display__link
    = image_tag 'icon_camera.png', class: 'image', width: '70px', height: '70px'

.main
  .image-top
    .title
      人生を変えるフリマアプリ
    .text
      FURIMAは誰でも簡単に出品・購入できるフリマアプリです
    .badges
      = link_to image_tag(src='apple-store-badge.png', size: "170x55"), root_path
      = link_to image_tag(src='google-play-badge.png', size: "200x80"), root_path
  .reason
    .reason__title
      FURIMAが選ばれる3つの理由
    .reason__context
      .reason__context__left
        %span.number
          1
        = image_tag 'pict-reason-01.jpg', class: 'image', width: '306px', height: '306px'
        .reason__context__left__title
          %span.text
            3分
          ですぐに出品
        .reason__context__left__text
          スマホで入力するだけで簡単に出品できる！
      .reason__context__center
        %span.number
          2
        = image_tag 'pict-reason-02.jpg', class: 'image', width: '306px', height: '306px'
        .reason__context__center__title
          %span.text
            シンプル
          で使いやすい
        .reason__context__center__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .reason__context__right.last
        %span.number
          3
        = image_tag 'pict-reason-03.jpg', class: 'image', width: '306px', height: '306px'
        .reason__context__right__title
          %span.text
            手数料
          業界最安
        .reason__context__right__text.short
          最大3%でお得に出品&購入！
  .image-middle
    .title
      会員数日本一位
    .text
      FURIMAは、フリマアプリで最も人気。
    .text
      出品・購入回数も業界最多です！
    .text
      ほしかったあの商品に出会えるかもしれません。
    .badges
      = link_to image_tag(src='apple-store-badge.png', size: "170x55"), root_path
      = link_to image_tag(src='google-play-badge.png', size: "200x80"), root_path
  .feature
    .feature__title
      FURIMAの特徴
    .feature__context
      .feature__context__left
        = image_tag 'icon-01.png', class: 'image', width: '220px', height: '340px'
        .feature__context__left__title
          簡単に売り買いできる
        .feature__context__left__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .feature__context__center
        = image_tag 'icon-03.png', class: 'image', width: '220px', height: '340px'
        .feature__context__center__title
          売上金は即日振込みに対応
        .feature__context__center__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .feature__context__right.last
        = image_tag 'icon-04.png', class: 'image', width: '220px', height: '340px'
        .feature__context__right__title
          様々な支払いに対応
        .feature__context__right__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickup-category
    .pickup-category__title
      ピックアップカテゴリー
    .pickup-category__link
      = link_to "新規投稿商品", root_path, class: "link"
    .pickup-category__items
      - @items.each do |item|
        = link_to item_path(item.id) do
          .image
            = image_tag item.item_images[0].image_url.url, class: 'image-tag', width: '220px', height: '150px'
            -if item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
          .context
            .name
              = item.name
            .value
              .value
                = (item.price * 1.1).round
              .evaluation
                ⭐️1
            .tax
              (税込)
  .pickup-category
    .pickup-category__title
      レディース
    .pickup-category__items
      - @ladies.each do |item|
        = link_to item_path(item.id) do
          .image
            = image_tag item.item_images[0].image_url.url, class: 'image-tag', width: '220px', height: '150px'
            -if item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
          .context
            .name
              = item.name
            .value
              .value
                = (item.price * 1.1).round
              .evaluation
                ⭐️1
            .tax
              (税込)
  .pickup-category
    .pickup-category__title
      メンズ
    .pickup-category__items
      - @mens.each do |item|
        = link_to item_path(item.id) do
          .image
            = image_tag item.item_images[0].image_url.url, class: 'image-tag', width: '220px', height: '150px'
            -if item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
          .context
            .name
              = item.name
            .value
              .value
                = (item.price * 1.1).round
              .evaluation
                ⭐️1
            .tax
              (税込)
  .pickup-category
    .pickup-category__title
      家電・スマホ・カメラ
    .pickup-category__items
      - @home_appliances.each do |item|
        = link_to item_path(item.id) do
          .image
            = image_tag item.item_images[0].image_url.url, class: 'image-tag', width: '220px', height: '150px'
            -if item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
          .context
            .name
              = item.name
            .value
              .value
                = (item.price * 1.1).round
              .evaluation
                ⭐️1
            .tax
              (税込)
  .pickup-category
    .pickup-category__title
      本・音楽・ゲーム
    .pickup-category__items
      - @book.each do |item|
        = link_to item_path(item.id) do
          .image
            = image_tag item.item_images[0].image_url.url, class: 'image-tag', width: '220px', height: '150px'
            -if item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
          .context
            .name
              = item.name
            .value
              .value
                = (item.price * 1.1).round
              .evaluation
                ⭐️1
            .tax
              (税込)
  