= render 'header'

.item-show
  .item-box
    %h1 
      = @item.name
    .item-content
      %ul.slider-for
        - @item.item_images.each do |img|
          %li
            =image_tag  img.image_url.url,class:'image-content'
            -if @item.buyer_id.present? 
              .sold
                .sold__inner
                  SOLD
      //=image_tag @item.item_images[0].image_url.url,class:"main"
      %ul.slider-nav
        - @item.item_images.each do |img|
          %li
            =image_tag  img.image_url.url,class:'3'
    .box-price
      %span.item-price
        ¥
        =@tax.round
      .item-price__tax
        %span （税込）
    .item-Detail
      = @item.description
    %table.item-table
      %tr
        %td.title 出品者
        %td.date 
          = @item.user.nickname 
      %tr
        %td.title カテゴリー
        %td.date
          = @item.category.name
      %tr
        %td.title ブランド
        %td.date
          - if @item.brand.present?
            = @item.brand.name
      -# %tr
      -#   %td.title 商品のサイズ
      -#   %td.date
      %tr
        %td.title 商品の状態
        %td.date
          = @item.condition.condition
      %tr
        %td.title 配送料の負担
        %td.date
          = @item.shipping.shipping
      -# %tr
      -#   %td.title 配送方法
      -#   %td.date
      %tr
        %td.title 配送元地域
        %td.date
          = @item.prefecture.name
      %tr
        %td.title 発送日の目安
        %td.date
          = @item.shipping_day.shipping_day
    .buy-box
      - if user_signed_in? && current_user.id ==@item.user_id
        =link_to "商品の編集","#",class:"edit-btn"
        =link_to "この商品を削除する","#",class:"destroy-btn"
      - elsif @item.buyer_id.present? 
        .bought 売り切れました
      -else
        =link_to "購入画面に進む","#",class:"buy-btn"
    .option-box
      %ul
        %li.like-btn
          =icon('fa','star')
          お気に入り
      %ul
        %li.option-btn
          = link_to "#" do
            =icon('fa','flag')
            不適切な商品の通報
  .comment-box
    -# %p < コメント一覧 >
    - if @comments
      - @comments.each do |comment|
        .comment-content
          -if comment.user_id == @item.user_id
            .content
              .profile
                .image
                  = icon('far', 'user-circle')
                .buyer
                  出品者
              .member-list
                .name
                  = comment.user.nickname
                -# %strong :
                .comment
                  = comment.comment
          - else
            .content
              .profile
                .image
                  = icon('far', 'user-circle')
              .member-list
                .name
                  = comment.user.nickname
                .comment
                  = comment.comment
    - if current_user
      = form_with(model:[@item, @comment], class: "comment-new") do |form|
        .notice
          %p 相手のことを考え丁寧なコメントを心がけましょう。
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = form.text_area :comment, {class: "textarea"}
        =form.submit 'コメントする',class:"button"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  %ul.links
    %li.link
      %a
        =icon('fa','angle-left')
        前の商品
    %li.link
      %a
        次の商品
        =icon('fa','angle-right')

= render 'footer'
