= render "put-up"
    
.card
  = render "header"

  .card__main
    .card__main__left
      = render "link"
    .card__main__right
      .title
        カード情報
      - if @card
        .main
          .number
            = "************" + @card[:last4]
          .bottom
            .date
              = @card[:exp_month]
              \/
              = @card[:exp_year]
            .brand
              = @card[:brand]
        .button
          = link_to "削除", card_path(current_user.cards), method: :delete, class: "delete-card"
      - else
        .regist
          = link_to new_card_path, class: "new" do
            クレジットカード登録

  = render "footer"




