%a{href: '/items/new', class: "display"}
  .display__text
    出品する
  .display__link
    = image_tag 'icon_camera.png', class: 'image', width: '70px', height: '70px'

.card
  = render "header"

  .card__main
    .card__main__left
      = link_to "トップページ", root_path, class: "link"
      = link_to "マイページ", users_show_path(current_user.id), class: "link"
      = link_to "プロフィール", root_path, class: "link"
      = link_to "送付先住所情報", root_path, class: "link"
      = link_to "メール/パスワード", root_path, class: "link"
      = link_to "クレジットカード情報", cards_path, class: "link select"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
    .card__main__right
      .title
        カード情報登録
      = form_with model: @card, id: "card_form" do |f|
        .area
          .field
            = f.label :card, "カード番号"
            = f.text_field :card, required: true, maxlength: 16, id: "card_number_form", placeholder: "1234 5678 1234 5678"
          .field
            = f.label :card, "有効期限"
            = f.select :card, 1..12, {include_blank: "---"}, id: "exp_month_form"
            = f.select :card, [[20, 2020], [21, 2021], [22, 2022], [23, 2023], [24, 2024], [25, 2025]], {include_blank: "---"}, id: "exp_year_form"
          .field
            = f.label :card, "セキュリティコード"
            = f.text_field :card, required: true,  id: "cvc_form", placeholder: "カード背面４桁もしくは３桁の番号"
          #card_token
          .regist_button
            = f.submit "登録", id: "regist_card"

  = render "footer"