= render "users/put-up"

.card
  = render "users/header"

  .card__main
    .card__main__left
      = render "users/link"
    .card__main__right
      .title
        カード情報登録
      = form_with model: @card, id: "card_form" do |f|
        = f.hidden_field :hidden, :value => "my_page"
        .area
          .field
            = f.label :card, "カード番号"
            = f.text_field :card, required: true, maxlength: 16, id: "card_number_form", placeholder: "1234 5678 1234 5678"
          .field
            = f.label :card, "有効期限"
            = f.select :card, 1..12, {include_blank: "---"}, id: "exp_month_form"
            = f.select :card, [[20, 2020], [21, 2021], [22, 2022], [23, 2023], [24, 2024], [25, 2025]], {include_blank: "---"}, id: "exp_year_form"
          .field
            = f.label :card, "セキュリティコード"
            = f.text_field :card, required: true,  id: "cvc_form", placeholder: "カード背面４桁もしくは３桁の番号"
          #card_token
          .regist_button
            = f.submit "登録", id: "regist_card"

  = render "users/footer"